<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newyorkclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/fake_artist"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fake_artist_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewYorkClient">
        <activity android:name=".Result"></activity>
        <activity android:name=".MainGame" />
        <activity android:name=".MadeRoom" />
        <activity android:name=".Lobby" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".kakao_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>